<h1>Make your form here</h1>
<form action ='/show' method="POST">
  <label for "name">Pirate Name: </label><input type="text" name="pirate[name]">
  <label for "weight">Pirate Weight: </label><input type="text" name="pirate[weight]">
  <label for "height">Pirate Height: </label><input type="text" name="pirate[height]">
  <input type="submit" name="submit">
</form>
